#!/usr/bin/env zsh

# vim:filetype=zsh syntax=zsh tabstop=2 shiftwidth=2 softtabstop=2 expandtab autoindent fileencoding=utf-8

type is_non_zero_string &> /dev/null 2>&1 || source "${HOME}/.shellrc"

! is_non_zero_string "${PERSONAL_PROFILES_DIR}" && warn "'$(yellow 'PERSONAL_PROFILES_DIR')' env var is not set. Aborting!!!" && exit

replace_dir_if_exists_and_is_not_symlinked() {
  local target="${PERSONAL_PROFILES_DIR}/${2}"
  ! is_directory "${1}" && ! is_directory "${target}" && warn "skipping symlinking '$(yellow "${2}")' since either source or target don't exist!!!" && return

  ensure_dir_exists "$(dirname "${1}")"
  ensure_dir_exists "${target}"

  # If the folder exists but is not a symlink, move it into the source location
  is_directory "${1}" && ! test -L "${1}" && rm -rf "${target}" && mv -fv "${1}" "${target}"

  # if the folder doesn't exist, create the symlink
  ! is_directory "${1}" && ln -sf "${target}" "${1}" && success "Successfully symlinked '$(yellow "${1}")' --> '$(yellow "${target}")'!!!"

  unset target
}

# Capture Arc profile folder into git-tracked location
replace_dir_if_exists_and_is_not_symlinked "${HOME}/Library/Application Support/Arc" "ArcProfile"

# Capture Brave profile folder into git-tracked location
replace_dir_if_exists_and_is_not_symlinked "${HOME}/Library/Application Support/BraveSoftware/Brave-Browser" "BraveProfile"

# Capture Chrome profile folder into git-tracked location
replace_dir_if_exists_and_is_not_symlinked "${HOME}/Library/Application Support/Google/Chrome" "ChromeProfile"

# Capture Chrome Beta profile folder into git-tracked location
replace_dir_if_exists_and_is_not_symlinked "${HOME}/Library/Application Support/Google/Chrome Beta" "ChromeBetaProfile"

# Capture Ferdium profile folder into git-tracked location
replace_dir_if_exists_and_is_not_symlinked "${HOME}/Library/Application Support/Ferdium" "FerdiumProfile"

# Capture Syncthing profile folder into git-tracked location
replace_dir_if_exists_and_is_not_symlinked "${HOME}/Library/Application Support/Syncthing" "SyncthingProfile"

# Capture Firefox profile folder into git-tracked location
replace_dir_if_exists_and_is_not_symlinked "${HOME}/Library/Application Support/Firefox" "FirefoxProfile"

# Capture Firefox profile folder into git-tracked location
replace_dir_if_exists_and_is_not_symlinked "${HOME}/Library/Application Support/Zen" "ZenProfile"

# Capture Thunderbird profile folder into git-tracked location
replace_dir_if_exists_and_is_not_symlinked "${HOME}/Library/Thunderbird" "ThunderbirdProfile"

# Capture KeePassXC profile folder into git-tracked location
replace_dir_if_exists_and_is_not_symlinked "${HOME}/Library/Application Support/KeePassXC" "KeePassXCProfile"
