# File location: ${HOME}/.editorconfig
# For more info, see docs here: http://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = off

[*.json]
insert_final_newline = false

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false

[*.sh]
# shell_variant      = posix # like -ln=posix
# binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci from shfmt options
space_redirects    = true  # like -sr from shfmt options
keep_padding       = true  # like -kp from shfmt options
# function_next_line = true  # like -fn
# never_split        = true  # like -ns

# Windows Shell scripts
[*.{cmd, bat}]
end_of_line = crlf
