#!/usr/bin/env bash

# vim:filetype=bash syntax=bash tabstop=2 shiftwidth=2 softtabstop=2 expandtab autoindent fileencoding=utf-8

# This script is invoked by `direnv` each time you cd into this folder (and assuming that you have run `direnv allow` for this version of this script).
# The main reason to move these steps outside of the `fresh-install-of-osx.sh` script is that these steps are required each time the user opens the terminal app into the HOME directory (in case any ssh keys were added/changed).

type is_shellrc_sourced 2>&1 &> /dev/null || source "${HOME}/.shellrc"

#####################################
# Reapply permissions for ssh files #
#####################################
set_ssh_folder_permissions

#######################################
# Reapply permissions for gnupg files #
#######################################
# TODO: Not sure if this is correct/reqd (now that I have generated my own gpg key pair). Commenting out since this cuases errors
# ! is_directory_empty "${HOME}/.gnupg" && echo "$(blue "Setting permissions on '${HOME}/.gnupg' folder contents")" && sudo chmod -R 600 "${HOME}"/.gnupg/*; chmod 700 "${HOME}"/.gnupg; sudo rm -rf .gnupg/crls.d/*
